
<mat-card appearance="outlined" class="settings-card" >

    <div class="selector-container">
        <label for="year-select">Year:</label>
        <select id="year-select" class="selector" [(ngModel)]="currentYear">
            @for (year of years; track $index) {
                <option [value]="year">{{ year }}</option>
            }
          
        </select>
      </div>
    
      <div class="selector-container" id="month">
        <label for="month-select">Month:</label>
        <select id="month-select" class="selector" [(ngModel)]="selectedMonth">
            <option [value]="'all'" >All</option>
            @for (month of months; track $index) {
                <option [value]="month">{{ month }}</option>
            }
        </select>
      </div>

      <div class="selector-container" id="month">
        <label for="month-select">Sort by:</label>
        <select id="month-select" class="selector" [(ngModel)]="sortBy">  
            <option value="favorites">Favorites</option>
            <option value="rating">Rating (Highest)</option>
            <option value="rating">Rating (Lowest)</option>
            
        </select>
      </div>



</mat-card>

<mat-card appearance="outlined">
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Title</th>
                <th>Rating</th>
                <th>Author</th>
                <th>Month read</th>
                <th>Genre</th>
                <th><mat-icon>star_outline</mat-icon></th>
                <th></th>
            </tr>

            @for (film of (sortedFilms[selectedMonth + '_' + currentYear]); track $index) {
                <tr>
                    <td>{{ film.title }}</td>
                    <td>{{ film.rating }}</td>
                    <td>{{ film.director }}</td>
                    <td>{{ film.monthWatched}}</td>
                    <td>{{ film.genres }}</td>
                    <td>@if(film.favorite){<mat-icon class="gold-star">star</mat-icon>}</td>
                    <td>
                        <button class="film-option-btn" mat-button [matMenuTriggerFor]="menu"><mat-icon class="menu-icon">more_horiz</mat-icon></button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="openEditFilmDialog(film.id)">Edit</button>
                          <button mat-menu-item (click)="deleteFilm(film.id)">Delete</button>
                        </mat-menu>
                    </td>
                </tr>
            }
            
        </table>
    </mat-card-content>
</mat-card>

