* {
    margin: 0;
    box-sizing: border-box;
    
}

@mixin displayFlex($jc: center, $ai: center, $fd: column){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

.mt-8{
    margin-top: 8px;
}

.width-100{
    width: 100%;
}