@import './../../styles.scss';


.log-in-container{
    height: 100dvh;
    width: 100%;
    @include displayFlex();
    overflow: hidden;
}

mat-toolbar{
    position: fixed;
    top:  0;
}

.logo-div{
    @include displayFlex();
}

.logo-text{
    font-size: 24px;
    font-weight: 700;
    color: rgb(28,74,186);
}