@if(loading){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<div class="add-film-dialog">
    <div class="dialog-header">
        <h1 mat-dialog-title class="header-text">Add Book</h1>
        <div class="star-checkbox">
            <input type="checkbox" id="star" [(ngModel)]="book.favorite"/>
            <label for="star" class="star"></label>
        </div>
    </div>
    
    <mat-dialog-content>
        <div style="margin-top:8px;">
            <mat-form-field appearance="outline" class="width-100">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" [(ngModel)]="book.title" [disabled]="loading" spellcheck="false">
            </mat-form-field>
        </div>

           
        <div>
            <mat-form-field appearance="outline" class="width-100">
                <mat-label>Author</mat-label>
                <input matInput placeholder="Director" [(ngModel)]="book.author" [disabled]="loading" spellcheck="false">
            </mat-form-field>
        </div>
           
        <div class="slider-div">
            <div class="example-label-container width-100">
                <label id="example-name-label" class="example-name-label">Rating: </label>
                <label class="example-value-label">{{slider.value}}</label>
              </div>
              <mat-slider
                  class="example-margin width-100"
                  [disabled]="loading"
                  [max]="5"
                  [min]="0"
                  [step]="0.5"
                  >
                <input matSliderThumb [(ngModel)]="book.rating" #slider>
              </mat-slider>
        </div>
        
    
        <div class="selector-div">
            <mat-form-field appearance="outline" class="selector">
                <mat-label>Year</mat-label>
                <input matInput placeholder="Year" [(ngModel)]="book.year" [disabled]="loading" spellcheck="false">
            </mat-form-field>

            <mat-form-field appearance="outline" class="selector">
                <mat-label>Genre</mat-label>
                <mat-select [(ngModel)]="book.genres" multiple>
                    @for (genre of bookGenres; track $index) {
                        <mat-option [value]="genre">{{ genre }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="selector-div">
            <mat-form-field appearance="outline" class="selector">
                <mat-label>Year read</mat-label>
                <mat-select [(ngModel)]="book.yearRead">
                    @for (year of years; track $index) {
                        <mat-option [value]="year">{{ year }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="selector">
                <mat-label>Month read</mat-label>
                <mat-select [(ngModel)]="book.monthRead">
                    @for (month of months; track $index) {
                        <mat-option [value]="month">{{ month }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

       
    
    
        
    </mat-dialog-content>
        
    <mat-dialog-actions>
      <button  mat-flat-button [disabled]="loading" (click)="closeDialog()">Cancel</button>
      <button  color="primary" mat-raised-button [disabled]="loading" (click)="addBook()">Save</button>
    </mat-dialog-actions>
</div>

