
<mat-card appearance="outlined" class="settings-card" >

    <div class="selector-container">
        <label for="year-select">Year:</label>
        <select id="year-select" class="selector" [(ngModel)]="currentYear">
            @for (year of years; track $index) {
                <option [value]="year">{{ year }}</option>
            }
          
        </select>
      </div>
    

      <div class="selector-container" id="month">
        <label for="month-select">Sort by:</label>
        <select id="month-select" class="selector" [(ngModel)]="sortBy">  
            <option value="favorites">Favorites</option>
            <option value="rating">Rating (Highest)</option>
            <option value="rating">Rating (Lowest)</option>
            
        </select>
      </div>

      <div class="search-bar-container">
        <input 
          type="text" 
          class="search-bar" 
          placeholder="Search..." 
          [(ngModel)]="searchQuery" 
          (input)="onSearch(searchQuery)"
        />
    
      </div>

      <button mat-fab color="primary" class="add-btn" matTooltip="Add series" [matTooltipPosition]="'above'" (click)="openDialog()">
        <mat-icon>add</mat-icon>
        </button>

</mat-card>

<mat-card appearance="outlined">
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Title</th>
                <th>Rating</th>
                <th>Year</th>
                <th>Genre</th>
                <th><mat-icon>star_outline</mat-icon></th>
                <th></th>
            </tr>

            @for (series of allUserSeries; track $index) {
                <tr>
                    <td>{{ series.title }}</td>
                    <td>{{ series.rating }}</td>
                    <td>{{ series.year }}</td>
                    <td>{{ series.genres }}</td>
                    <td>@if(series.favorite){<mat-icon class="gold-star">star</mat-icon>}</td>
                    <td>
                        <button class="film-option-btn" mat-button [matMenuTriggerFor]="menu"><mat-icon class="menu-icon">more_horiz</mat-icon></button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="openEditSeriesDialog(series.id)">Edit</button>
                          <button mat-menu-item (click)="deleteSeries(series.id)">Delete</button>
                        </mat-menu>
                    </td>
                </tr>
            }
            
        </table>
    </mat-card-content>
</mat-card>

