

.add-film-dialog{
  padding: 24px;
  
}

mat-slider{
    width: 95%;
}

.slider-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 8px;
}

h1{
    margin-bottom: 8px;
}

.selector{
    width: 190px;
}

.selector-div{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.checkbox-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.star-checkbox {
    position: relative;
    width: 40px; /* Size of the star */
    height: 40px;
    margin-right: 24px;
  
    input[type="checkbox"] {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0; /* Hide the actual checkbox */
      z-index: -1;
    }
  
    .star {
      width: 40px;
      height: 40px;
      display: inline-block;
      background-color: #ddd; /* Default color */
      mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>') no-repeat center;
      -webkit-mask: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>') no-repeat center;
      mask-size: contain;
      -webkit-mask-size: contain;
      transition: background-color 0.1s ease;
      cursor: pointer;
    }
  
    input[type="checkbox"]:checked + .star {
      background-color: gold; /* Star color when checked */
    }
  }

  .dialog-header{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    height: 48px;

  }

  .header-text{
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    
  }

  mat-dialog-content{
    max-height: calc(95vh - 96px); /* Adjusts for the dialog's padding and header */
    padding: 4px;
  }

  mat-dialog-actions{
    padding-right: 32px;
    display: flex;
    justify-content: flex-end;
  }


