<div class="board-container">
  <div class="board-main">

    <h1>Books</h1>

    <div class="main-row">
      <mat-card >
        <mat-card-header>
          <mat-card-title><mat-icon>menu_book</mat-icon> <span class="card-number">{{booksReadYear}}</span> </mat-card-title>
        </mat-card-header>
      
        <mat-card-content>
          <p>Books read this year</p>
        </mat-card-content>
      
      </mat-card>

      <mat-card >
        <mat-card-header>
          <mat-card-title><mat-icon>star_outline</mat-icon> <span class="card-number">{{bookHighlights}}</span></mat-card-title>
        </mat-card-header>
      
        <mat-card-content>
          <p>Highlights</p>
        </mat-card-content>
      
      </mat-card>

      <mat-card >
        <mat-card-header>
          @if (favoriteBookGenres.length > 0) {
            @for (genre of favoriteBookGenres; track $index) {
              <span class="genre-span">{{genre}}</span>
            }
          } @else {
            <span class="genre-span">-</span>
          }
        </mat-card-header>
      
        <mat-card-content>
          <p>Favorite Genres</p>
        </mat-card-content>
      
      </mat-card>
    </div>

    <div class="main-row last">
      <mat-card class="large-card">
        <mat-card-header>
          <mat-card-title>Upcoming</mat-card-title>
        </mat-card-header>
      
        <mat-card-content>
          <p>List</p>
        </mat-card-content>
      
      </mat-card>
    </div>

    <h1>Films</h1>

    <div class="main-row">
      <mat-card >
        <mat-card-header>
          <mat-card-title><mat-icon>theaters</mat-icon> <span class="card-number">{{filmsWatchedYear}}</span> </mat-card-title>
        </mat-card-header>
      
        <mat-card-content>
          <p>Films watched this year</p>
        </mat-card-content>
      
      </mat-card>

      <mat-card >
        <mat-card-header>
          <mat-card-title><mat-icon>star_outline</mat-icon> <span class="card-number">{{filmHighlights}}</span> </mat-card-title>
        </mat-card-header>
      
        <mat-card-content>
          <p>Highlights</p>
        </mat-card-content>
      
      </mat-card>

      <mat-card >
        <mat-card-header>
          @if (favoriteFilmGenres.length > 0) {
            @for (genre of favoriteFilmGenres; track $index) {
              <span class="genre-span">{{genre}}</span>
            }
          } @else {
            <span class="genre-span">-</span>
          }
          
        </mat-card-header>
      
        <mat-card-content>
          <p>Favorite Genres</p>
        </mat-card-content>
      
      </mat-card>
    </div>

    <div class="main-row">
      <mat-card class="large-card">
        <mat-card-header>
          <mat-card-title>Upcoming</mat-card-title>
        </mat-card-header>
      
        <mat-card-content>
          <p>List</p>
        </mat-card-content>
      
      </mat-card>
    </div>

  </div>


  <div class="board-secondary">
    <mat-card class="secondary-card">
      <mat-card-header>
        <mat-card-title>Currently Reading</mat-card-title>
      </mat-card-header>
    
      <mat-card-content>
        <p>Creation Lake</p>
      </mat-card-content>
    
    </mat-card>

    <mat-card class="secondary-card">
      <mat-card-header>
        <mat-card-title>Currently Watching</mat-card-title>
      </mat-card-header>
    
      <mat-card-content>
        <p>Severance</p>
      </mat-card-content>
    
    </mat-card>
  </div>
</div>