@import './../../styles.scss';

.board-container{
    @include displayFlex($fd: row, $jc: flex-start, $ai: flex-start);
    width: 100%;

}

.main-row{
    @include displayFlex($fd: row);
    gap: 12px;
    margin-bottom: 12px;
}

.main-row.last{
    margin-bottom: 40px;
}

mat-card{
    width: 200px;
}

.large-card{
    width: 100%;
}

.board-secondary{
    width: 400px;
    @include displayFlex($fd: column, $ai: flex-start);
    gap: 16px;
    margin-left: 120px;
    margin-top: 80px ;

}

.secondary-card{
    width: 100%;
}