@import './../../styles.scss';

.board-container{
    @include displayFlex($fd: row, $jc: flex-start, $ai: flex-start);
    width: 100%;

}

.main-row{
    @include displayFlex($fd: row);
    gap: 12px;
    margin-bottom: 12px;
}

.main-row.last{
    margin-bottom: 40px;
}

mat-card{
    width: 200px;
    transition: all 125ms ease;
    @include displayFlex();

    &:hover{
        scale: 1.02;
    }
}

mat-card-title{
    @include displayFlex($fd:row);
    position: relative;
}

.card-number{
    margin-left: 8px;
    
}

.normal-card{
    height: 150px;
}

.large-card{
    width: 100%;
}

.board-secondary{
    width: 400px;
    @include displayFlex($fd: column, $ai: flex-start);
    gap: 24px;
    margin-left: 150px;
    margin-top: 50px ;
}

.secondary-card{
    position: relative;
    width: 400px;
    // height: 240px;
    @include displayFlex($jc: flex-start);
}

.genre-span{
    font-weight: 500;
    font-size: 16px;
    display: block;
}

.genre-div{
    @include displayFlex($fd: column);
    margin-bottom: 8px;
}

.add-btn{
   position: absolute;
   left: 170px;
   display: none;
   transition: all 125ms ease;
}

.current-books-card:hover .add-book-btn{
    display: block;
}

mat-card-content{
    @include displayFlex($ai: center);
}

.current-content{
    padding: none;
    @include displayFlex();
    // border: 1px solid red;
}

.current-entry-div{
    @include displayFlex($fd:row, $jc: space-between);
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    margin: 8px;
    position: relative;

    &:hover{
        background-color: rgb(240, 240, 240);
    }

    &:hover .current-input{
        background-color: rgb(240, 240, 240);
    }
}

.current-option-btn{
    width: 20px;
    margin-left: 24px;
    margin-right: 8px;
    transition: all;

    &:hover{
        cursor: pointer;
    }
}

.current-input{
    border: none;
    background-color: white;
    width: 160px;
    text-align: center;
    font-size: 16px;
}

.add-current-input:focus{
    border: 1px solid gray;
    outline: none;
}

.current-input.add-current-input{
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 4px;
    margin-right: 12px;
}

.current-entry-div.add{
    // position: absolute;
    // bottom: 16px;
    width: 100%;
    @include displayFlex($fd:row, $ai: center);
}

.add-current-entry-icon{
    font-size: 20px;
    // transition: all 125ms ease;

    &:hover{
        cursor: pointer;
        scale: 1.02;
    }
}


@media(max-width: 1600px){
    .board-secondary{
        margin-left: 100px;
    }
}
@media(max-width: 1500px){
    .board-secondary{
        margin-left: 50px;
    }
    .secondary-card{
        width: 350px;
    }
}

.current-entry-options-div{
    position: absolute;
    right: -90px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 0;
}

.current-entry-option{
    width: 100%;
    padding: 4px 16px;

    &:hover{
        cursor: pointer;
        background-color: rgb(240, 240, 240);
    }
}